<!--begin::Topbar-->
<div class="topbar mt-5">
    <!--<div class="topbar-item">
                          <div class="btn btn-icon btn-lg mr-1">
                              <span class="svg-icon svg-icon-xl svg-icon-primary">
                                  <i class="flaticon2-chat-1 red"></i>
                              </span>
                          </div>
                      </div>-->

    <div class="topbar-item">
        <button class="btn btn-hover-transparent-white btn-sm" style="border: 1px solid #b92626; margin-right:15px;"
            onclick="myFunction()">
            SIMULATIONS / BASELINE
        </button>
    </div>
    <!--begin::User-->

    <div class="topbar-item">

        <div class="card-toolbar">
            <div class="dropdown dropdown-inline">
                <a href="#" class="gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    user@coca-cola.com
                    <i class="la la-ellipsis-v" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <!--begin::Navigation-->
                    <ul class="navi navi-hover">

                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="flaticon2-shopping-cart-1"></i>
                                </span>
                                <span class="navi-text">Language</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="flaticon2-calendar-8"></i>
                                </span>
                                <span class="navi-text">LogOut</span>
                            </a>
                        </li>
                    </ul>
                    <!--end::Navigation-->
                </div>
            </div>
        </div>
    </div>
    <!--end::User-->
</div>
<!--end::Topbar-->