<!--begin::footer-->
<div class="footer py-1 d-flex flex-lg-column">
    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="text-dark col-md-12 col-sm-12 col-xs-12">
            <img class="p-2" src="assets/images/icon-coke.png" style="width:80px">&nbsp;&nbsp;
            <span class="text-white"> Total Baseline : {{this.storage.totalBaseLine}}</span>&nbsp;
            <span class="text-white">|</span>&nbsp;
            <span class="text-white"> Total Simulation : {{this.storage.totalSimulation}} </span>
        </div>
    </div>
</div>
<!--end::footer-->