<div id="baselineTexd" style="display:none;">
    <div class="file-browser">
        <ul>
            <li class="folder">
                ATLANTA
                <ul>
                    <li class="file">Accounts Module</li>
                    <li class="file">Help Module</li>
                </ul>
            </li>
            <li class="folder folder-open">
                GEORGIA
                <ul>
                    <li class="folder folder-open">
                        BASELINE 2018
                        <ul>
                            <li class="file">SIMULATION_01</li>
                            <li class="file">SIMULATION_02</li>
                        </ul>
                    </li>
                    <li class="folder">
                        BASELINE 2019
                        <ul>
                            <li class="file">SIMULATION_01</li>
                            <li class="file">SIMULATION_02</li>
                        </ul>
                    </li>
                    <li class="folder">
                        BASELINE 2020
                        <ul>
                            <li class="file">SIMULATION_01</li>
                            <li class="file">SIMULATION_02</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>