<div class="Container-fluid">
    <!--begin::Aside-->
    <div class="aside aside-left d-flex aside-fixed" id="kt_aside">

        <!------------------------------------------------Mobile Menu start------------------------------------------------>
        <!------------------------------------------------Mobile Menu------------------------------------------------>
        <div class="aside-primary d-flex flex-column flex-row-auto hidden-sm">
            <!--begin::Brand-->
            <div class="aside-brand d-flex flex-column align-items-center flex-column-auto py-5 py-lg-7">
                <!--begin::Logo-->
                <a [routerLink]="['/']">
                    <img alt="Logo" src="assets/images/logo.png" class="max-h-30px" />
                </a>
                <!--end::Logo-->
            </div>
            <!--end::Brand-->
            <!--begin::Nav Wrapper-->
            <div class="aside-nav d-flex flex-column align-items-center flex-column-fluid py-3 scroll scroll-pull">
                <!--begin::Nav-->
                <ul class="nav flex-column" role="tablist">
                    <!--begin::Item-->
                    <li class="nav-item mb-7" data-toggle="tooltip" data-placement="right" data-container="body"
                        data-boundary="window" title="Latest Projects">
                        <a href="#" class="nav-link btn btn-icon btn-clean btn-lg" data-toggle="tab12"
                            data-target="#kt_aside_tab_1" role="tab">
                            <img src="assets/images/icon-0.png" />
                            <h5>SETUP</h5>
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item mb-7" data-toggle="tooltip" data-placement="right" data-container="body"
                        data-boundary="window" title="Latest Projects">
                        <a href="rgm-index.html" class="nav-link btn btn-icon btn-clean btn-lg" data-toggle="tab12"
                            data-target="#kt_aside_tab_1" role="tab">
                            <img src="assets/images/icon-1.png" />
                            <h5>RGM</h5>
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item mb-7" data-toggle="tooltip" data-placement="right" data-container="body"
                        data-boundary="window">
                        <a href="rtm-index.html" class="nav-link btn btn-icon btn-clean btn-lg" data-toggle="tab12"
                            data-target="#kt_aside_tab_2" role="tab">
                            <img src="assets/images/icon-2.png" />
                            <h5>RTM</h5>
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item mb-7" data-toggle="tooltip" data-placement="right" data-container="body"
                        data-boundary="window">
                        <a href="assets-index.html" class="nav-link btn btn-icon btn-clean btn-lg" data-toggle="tab12"
                            data-target="#kt_aside_tab_3" role="tab">
                            <img src="assets/images/icon-3.png" />
                            <h5>ASSETS</h5>
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item mb-7" data-toggle="tooltip" data-placement="right" data-container="body"
                        data-boundary="window" title="Project Management">
                        <a href="seg-index.html" class="nav-link btn btn-icon btn-clean btn-lg" data-toggle="tab12"
                            data-target="#kt_aside_tab_4" role="tab">
                            <img src="assets/images/icon-4.png" />
                            <h5>TECHSERV</h5>
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item mb-7" data-toggle="tooltip" data-placement="right" data-container="body"
                        data-boundary="window" title="User Management">
                        <a href="miscellaneous-index.html" class="nav-link btn btn-icon btn-clean btn-lg active"
                            data-toggle="tab12" data-target="#kt_aside_tab_5" role="tab">
                            <img src="assets/images/icon-5-5.png" />
                            <h5>MISCELLANEOUS</h5>
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item mb-7" data-toggle="tooltip" data-placement="right" data-container="body"
                        data-boundary="window" title="User Management">
                        <a href="reports-index.html" class="nav-link btn btn-icon btn-clean btn-lg" data-toggle="tab12"
                            data-target="#kt_aside_tab_5" role="tab">
                            <img src="assets/images/icon-6.png" />
                            <h5>REPORTS</h5>
                        </a>
                    </li>
                    <!--end::Item-->
                </ul>
                <!--end::Nav-->
            </div>
        </div>

        <!------------------------------------------------Mobile Menu end------------------------------------------------>
        <!------------------------------------------------Mobile Menu end------------------------------------------------>
        <div class="aside-primary d-flex flex-column align-items-center flex-row-auto">
            <!--begin::Brand-->
            <div class="aside-brand d-flex flex-column align-items-center flex-column-auto py-5 py-lg-7">
                <!--begin::Logo-->
                <a [routerLink]="['/']" class="visibility-xs">
                    <img alt="Logo" src="assets/images/logo.png" class="max-h-30px" />
                </a>
                <!--end::Logo-->
            </div>
            <!--end::Brand-->
            <!--begin::Nav Wrapper-->
            <div id="kt_aside_menu" class="aside-menu min-h-lg-600px blue" data-menu-vertical="1" data-menu-scroll="1">
                <!--begin::Form-->
                <ul class="menu-nav bl">

                    <li id="sideNavMenu" class="menu-item menu-item-submenu menu-item-open">
                        <a href="javascript:;" class="menu-toggle text-center right-red-bt px-5">

                            <span class="btn-icon-white d-block w-100">
                                <img class="radius-10 w-60" src="assets/images/icon/Inputs.svg" alt="input">
                            </span>

                            <span class="menu-text d-block w-100">Inputs</span>

                        </a>
                        <div class="menu-submenu">
                            <i class="menu-arrow"></i>
                            <ul class="menu-subnav">
                                <li class="menu-item" aria-haspopup="true">
                                    <a [routerLink]="['/rgm/brand-category']" class="menu-link active">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">Brand / Category</span>

                                    </a>
                                </li>
                                <li class="menu-item" aria-haspopup="true">
                                    <a [routerLink]="['/rgm/rgm-package']" class="menu-link">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">Package</span>

                                    </a>
                                </li>
                                <li class="menu-item" aria-haspopup="true">
                                    <a [routerLink]="['/rgm/rgm-channel']" class="menu-link">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">Channel / Customer</span>

                                    </a>
                                </li>


                            </ul>
                        </div>
                    </li>
                    <li class="menu-item menu-item-submenu">
                        <a href="javascript:;" data-toggle="collapse"
                            class="sidebar-link collapsed menu-toggle right-red-bt brd-top text-center px-5">
                            <span class="btn-icon-white d-block w-100">
                                <img class="radius-10 w-60" src="assets/images/icon/Scenario.svg" alt="Scenario">
                            </span>

                            <span class="menu-text d-block w-100">Scenarios</span>
                        </a>
                        <div class="menu-submenu collapse">
                            <i class="menu-arrow"></i>
                            <ul class="menu-subnav">

                                <li class="menu-item"><a href="#" class="menu-link"><i
                                            class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i><span class="menu-text">Asset Penetration</span></a></li>
                                <li class="menu-item"><a href="#" class="menu-link"><i
                                            class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i><span class="menu-text">A Day In The Life</span></a></li>
                                <li class="menu-item"><a href="#" class="menu-link"><i
                                            class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i><span class="menu-text">Time and Motion</span></a></li>
                                <li class="menu-item"><a href="#" class="menu-link"><i
                                            class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i><span class="menu-text">Labor Cost</span></a></li>
                                <li class="menu-item"><a href="#" class="menu-link"><i
                                            class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i><span class="menu-text">Vehicle Cost</span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item menu-item-submenu">
                        <a href="javascript:;" class="menu-toggle right-red-bt brd-top text-center px-5">
                            <span class="btn-icon-white d-block w-100">
                                <img class="radius-10 w-60" src="assets/images/icon/Output.svg" alt="Scenario">
                            </span>

                            <span class="menu-text d-block w-100">Outputs</span>
                        </a>
                        <div class="menu-submenu">
                            <i class="menu-arrow"></i>
                            <ul class="menu-subnav">

                                <li class="menu-item" aria-haspopup="true">
                                    <a href="#" class="menu-link">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">Asset Optimization</span>
                                    </a>
                                </li>
                                <li class="menu-item" aria-haspopup="true">
                                    <a href="#" class="menu-link">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">Capital Required</span>
                                    </a>
                                </li>
                                <li class="menu-item" aria-haspopup="true">
                                    <a href="#" class="menu-link">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">Depreciation</span>
                                    </a>
                                </li>
                                <li class="menu-item" aria-haspopup="true">
                                    <a href="#" class="menu-link">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">Tech Serv. Headcount</span>
                                    </a>
                                </li>
                                <li class="menu-item" aria-haspopup="true">
                                    <a href="#" class="menu-link">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">Tech Serv. Optimization</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
                <!--end::List-->
            </div>
        </div>
        <!--end::Primary-->
    </div>

    <!--begin::Content-->
    <router-outlet></router-outlet>
    <!--end::Content-->
</div>