<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid border-brown" id="kt_content">
    <div class="subheader py-2 py-lg-2 subheader-solid brown">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Page Title-->
                <h5 class="text-white font-weight-bold mt-2 mb-2 mr-5">SETUP</h5>

            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->

        </div>
    </div>
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Dashboard-->
            <!--begin::Row-->
            <!--begin::Row-->
            <br />
            <div class="card-body col-12 col-md-12 col-xs-12 col-lg-10 col-xxl-12 mx-auto">
                <div class="row">
                    <div class="col-md-4 col-lg-4 card-stretch">
                        <div class="card card-custom card-stretch gutter-b radius-20 bg-white">
                            <!--begin::Body-->
                            <div class="card-body d-flex flex-column text-center py-0 px-0">
                                <div class="card-circle">
                                    <img class="brown radius-20" src="assets/images/icon/Inputs.svg" alt="input">
                                </div>
                                <div class="card-text">
                                    <h2 class="text-center">INPUTS</h2>

                                    <div class="d-flex align-items-center flex-wrap mt-1 brd-bottom">
                                        <!--begin::Button-->
                                        <a [routerLink]="['/setup/baseline-setup']" 
                                            class="btn button-color btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2 w-100">
                                            <span class="svg-icon svg-icon-md">
                                                <img class="ad-icon brown"
                                                    src="assets/images/icon/red/Marketing-Assets.svg" />
                                                <!--end::Svg Icon-->
                                            </span>
                                            <span class="d-md-inline font-size-h6">Baseline List</span>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap mt-1 brd-bottom">
                                        <!--begin::Button-->
                                        <a [routerLink]="['/setup/baseline-setup']"
                                            class="btn button-color btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2 w-100">
                                            <span class="svg-icon svg-icon-md">
                                                <img class="ad-icon brown"
                                                    src="assets/images/icon/red/Marketing-Assets.svg" />
                                                <!--end::Svg Icon-->
                                            </span>
                                            <span class="d-md-inline font-size-h6">PvP Import</span>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap mt-1 brd-bottom">
                                        <!--begin::Button-->
                                        <a [routerLink]="['/setup/baseline-setup']"
                                            class="btn button-color btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2 w-100">
                                            <span class="svg-icon svg-icon-md">
                                                <img class="ad-icon brown"
                                                    src="assets/images/icon/red/Marketing-Assets.svg" />
                                                <!--end::Svg Icon-->
                                            </span>
                                            <span class="d-md-inline font-size-h6">Import</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 card-stretch">
                        <div class="card card-custom card-stretch gutter-b radius-20 bg-white">
                            <!--begin::Body-->
                            <div class="card-body d-flex flex-column text-center py-0 px-0">
                                <div class="card-circle">
                                    <img class="brown radius-20" src="assets/images/icon/Scenario.svg" alt="Scenario">
                                </div>
                                <div class="card-text">
                                    <h2 class="text-center">SCENARIOS</h2>
                                    <div class="d-flex align-items-center flex-wrap mt-3 brd-bottom">
                                        <!--begin::Button-->
                                        <a [routerLink]="['/setup/simulation-setup']" 
                                            class="btn button-color btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2 w-100">
                                            <span class="svg-icon svg-icon-md">
                                                <img class="ad-icon brown"
                                                    src="assets/images/icon/red/Asset-penetration.svg" />
                                                <!--end::Svg Icon-->
                                            </span>
                                            <span class="d-block d-md-inline font-size-h6">Simulation List</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 card-stretch">
                        <div class="card card-custom card-stretch gutter-b radius-20 bg-white">
                            <!--begin::Body-->
                            <div class="card-body d-flex flex-column text-center py-0 px-0">
                                <div class="card-circle">
                                    <img class="brown radius-20" src="assets/images/icon/Output.svg" alt="Scenario">
                                </div>
                                <div class="card-text">
                                    <h2 class="text-center">OUTPUT</h2>
                                    <div class="d-flex align-items-center flex-wrap mt-1 brd-bottom">
                                        <!--begin::Button-->
                                        <a href="#"
                                            class="btn button-color btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2 w-100">
                                            <span class="svg-icon svg-icon-md">
                                                <img class="ad-icon brown"
                                                    src="assets/images/icon/red/Asset-optimization.svg" />
                                                <!--end::Svg Icon-->
                                            </span>
                                            <span class="d-block d-md-inline font-size-h6">Revenue Growth
                                                Management</span>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap mt-1 brd-bottom">
                                        <!--begin::Button-->
                                        <a href="#"
                                            class="btn button-color btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2 w-100">
                                            <span class="svg-icon svg-icon-md">
                                                <img class="ad-icon brown"
                                                    src="assets/images/icon/red/Capital-required.svg" />
                                                <!--end::Svg Icon-->
                                            </span>
                                            <span class="d-block d-md-inline font-size-h6">Segmentation</span>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap mt-1 brd-bottom">
                                        <!--begin::Button-->
                                        <a href="#"
                                            class="btn button-color btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2 w-100">
                                            <span class="svg-icon svg-icon-md">
                                                <img class="ad-icon brown"
                                                    src="assets/images/icon/red/Depriciation.svg" />
                                                <!--end::Svg Icon-->
                                            </span>
                                            <span class="d-block d-md-inline font-size-h6">Right Execution Daily</span>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap mt-1 brd-bottom">
                                        <!--begin::Button-->
                                        <a href="#"
                                            class="btn button-color btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2 w-100">
                                            <span class="svg-icon svg-icon-md">
                                                <img class="ad-icon brown" src="assets/images/icon/red/Techserv.svg" />
                                                <!--end::Svg Icon-->
                                            </span>
                                            <span class="d-block d-md-inline font-size-h6">Route To Market</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--end::Row-->
            <!--end::Dashboard-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>